<link rel="stylesheet" href="css/home.css">
<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">
				Ingreso de Incapacidad
			
			</h3>
		</div>
	</div>
	<!--begin::Form-->
<!-- tomado del Achivo rangos.js-->
<form method="POST" class="kt-form kt-form--fit kt-form--label-right" id="FormularioPleclinica" >
	<div class="kt-portlet__body form_DatosGenerales" style="display:none;">
		<ul class="nav nav-tabs nav-fill" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#kt_tabs_1_1">Datos Generales</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#kt_tabs_1_2">Signos Vitales</a>
			</li>
			
		</ul>                    

		<div class="tab-content">
			<div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
				<div class="form-group row">
					<div class="col-lg-4">
						<label>Codigo:</label>
						<input type="text" class="form-control" id="CodigoEmpleado" name="CGeneralesodigoEmpleado" placeholder="Codigo de Empleado">
						
					</div>
					<div class="col-lg-4">
						<label class="">Nombre</label>
						<input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre">
						
					</div>
					<div class="col-lg-4">
						<label class="">Apellido</label>
						<input type="text" class="form-control" id="Apellido" name="Apellido" placeholder="Apellido">
						
					</div>
				</div>	  
				<div class="form-group row">
					<div class="col-lg-4">
						<label>Identidad</label>
						<input type="text" class="form-control" id="txtIdentidad"  name="txtIdentidad" placeholder="Identidad">
						
					</div>
					<div class="col-lg-4">
						<label class="">Fecha de Naciminento</label>
						<input type="date" class="form-control" id="FechaNacimiento" name="FechaNacimiento" placeholder="Fecha de Naciminento">
						
					</div>
					<div class="col-lg-2">
						<label class="">Edad</label>
						<input type="text" class="form-control" id="txtEdad" name="txtEdad" placeholder="Edad">
						
					</div>
					<div class="col-lg-2">
						<label class="">Sexo</label>
						<input type="text" class="form-control" id="txtSexo"  name="txtSexo"  placeholder="Sexo">
						
					</div>
					
				</div>
				<div class="form-group row">
					<div class="col-lg-4">
						<label class="">Estado Civil</label>EstadoCivil
						<select class="form-control" id="EstadoCivil"  name="EstadoCivil" >
							{{foreach listaEStadoCivil}}
							<option value="{{cid}}">{{cnombre}}</option>
							{{endfor listaEStadoCivil}}
						</select>
						
					</div>
					<div class="col-lg-4">
						<label class="">Ocupacion</label>
						<input type="text" class="form-control" id="txtOcupacion" name="txtOcupacion" placeholder="Ocupacion/Oficio">
						
					</div>
					<div class="col-lg-4">
						<label class="">Dependencia</label>
						<input type="text" class="form-control" id="Dependencia" name="Dependencia" placeholder="Dependencia">
						
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-4">
						<label class="">Religion</label>
						<input class="form-control" id="txtReligion"  name="txtReligion"  placeholder="Religion">
					</div>
					<div class="col-lg-4">
						<label class="">Raza</label>
						<input type="text" class="form-control" id="txtRaza" name="txtRaza" placeholder="raza">
						
					</div>
					<div class="col-lg-4">
						<label class="">Tipo Sanguineo</label>
						
						<select class="form-control" id="txtTipoSanguineo" name="txtTipoSanguineo">
							<option selected disabled>Ingrese Opcion</option>
							{{foreach TipoSanguineo}}
							<option value="{{cid}}">{{cnombre}}</option>
							{{endfor TipoSanguineo}}
							<option value="">Desconocido</option>
						</select>	
						
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-4">
						<label class="">Residencia Actual</label>
						<textarea class="form-control" id="txtResidencia"  name="txtResidencia"  placeholder="Residencia Actual"></textarea>
					</div>
					
					<div class="col-lg-4">
						<label class="">Motivo de Visita</label>
						<textarea class="form-control" id="motivo"  name="motivo"  placeholder=""></textarea>
					</div>

					<div class="col-lg-4">
						<label class="">Observacion</label>
						<textarea class="form-control" id="txtObservacion"  name="txtObservacion"  placeholder=""></textarea>
					</div>
				</div>
				
				
			</div>
			<div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
				
				<div class="kt-portlet__body">
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">PA:</label>
						<div class="col-4">
							<input class="form-control" type="text"  id="PA" name="PA" placeholder="PA">
						</div>
					</div>
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">FC:</label>
						<div class="col-4">
							<input class="form-control" type="text"  id="FC" name="FC" placeholder="FC">
						</div>
					</div>
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">Pulso</label>
						<div class="col-4">
							<input class="form-control" type="text"   id="pulso" name="pulso" placeholder="Pulso">
						</div>
					</div>
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">FR</label>
						<div class="col-4">
							<input class="form-control" type="text"  id="FR" name="FR" placeholder="FR">
						</div>
					</div>
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">T°</label>
						<div class="col-4">
							<input class="form-control" type="text" id="temparatura" name="temparatura"  placeholder="T°">
						</div>
					</div>
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">Sp02</label>
						<div class="col-4">
							<input class="form-control" type="text"  id="Sp02" name="Sp02"  placeholder="Sp02">
						</div>
					</div>
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">Glu</label>
						<div class="col-4">
							<input class="form-control" type="text" id="Glu" name="Glu" placeholder="Glu">
						</div>
					</div>
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">Peso (Kg)</label>
						<div class="col-4">
							<input class="form-control" type="text" name="peso"  id="peso" placeholder="Peso">
						</div>
					</div>
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">Talla (Mts)</label>
						<div class="col-4">
							<input class="form-control" type="text" name="talla" id="talla" placeholder="Talla">
						</div>
					</div>
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">IMC</label>
						<div class="col-4">
							<input class="form-control" type="text"  name="imc" id="imc" placeholder="IMC">
						</div>
					</div>
				</div>
		
			</div>
			
		</div>  
		<div class="kt-portlet__foot">
			<div class="kt-form__actions">
				<button type="submit" class="btn btn-success">Submit</button>
				<button type="reset" onclick="location.href='index.php?page=cita'" class="btn btn-secondary">Cancel</button>
			</div>
		</div>    
	</div>
	
</form>
	<form class="kt-form kt-form--fit kt-form--label-right" id="FormIncapacidad" >
		
		<div class="kt-portlet__body">
			
			<div class="form-group">
				<label>Ingrese Busqueda</label>
				<div class=" col-lg-10 col-md-9 col-sm-12">
				<select class="custom-select form-control" onchange="cambio(event)" name="selectBusqueda" >
					<option value="nombre" selected>Nombre</option>
					<option value="Codigo" >Codigo de empleado</option>				  
					  <option value="identidad">identidad</option>
					
				</select>
				</div>
			</div>
			
			<div class="form-group identidad" style="display:none">
				<label>Numero de Identici&oacute;n</label>
				<div></div>
				<div class=" col-lg-4 col-md-9 col-sm-12">
					<input class="form-control" id="idenficacionCita" name="identificacion" type="text"/>
				<!--	<span class="form-text text-muted">Phone number mask: <code>99-9999999</code></span>  -->
				</div>
			</div>
			<div class="form-group empleadoCodigo" style="display:none">
				<label>Codigo de Empleado</label>
				<div></div>
				<div class=" col-lg-4 col-md-9 col-sm-12">
					<input type="text" class="form-control" id="codigoEmpleado" name="codigoEmpleado" placeholder="Codigo de Empleado">
				</div>
			</div>
			<div class="form-group NOmbre_EmpleDO">
				<label>Nombre del empleado</label>
				<div></div>
				<div class=" col-lg-4 col-md-9 col-sm-12">
					<select class="form-control kt-select2" id="cbxCita" name="param">
					
					</select>
				</div>
			</div>
		</div>
		
		<div class="kt-portlet__foot kt-portlet__foot--fit-x">
			<div class="kt-form__actions">
				<div class="row">
					<div class="col-lg-2"></div>
					<div class="col-lg-10">
						<button type="submit"  class="btn btn-primary" >Aceptar</button>
						<button type="button" class="btn btn-secondary">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<div class="kt-portlet__body">
			<!--begin: Datatable -->
			<table class="table table-striped- table-bordered table-hover table-checkable" id="tabla_ajax1">
										<thead>
										  <tr>
														  <th>Codigo</th>
														  <th>Nombre</th>
														  <th>Apellido</th>
														  <th>Estado</th>
														  <th>Identidad</th>
														  <th>Departamento</th>
														  <th>Fecha de Nacimiento</th>
														  <th>Actions</th>
											  </tr>
							</thead>
				
				
						</table>
			<!--end: Datatable -->
		</div>
	</form>

	<!--end::Form-->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="views/ViewJs/cita.js"></script>