<link rel="stylesheet" href="css/home.css">
<div class="contenedorx1" >
    <h1 class="texto"> Bienvenido(a): {{Nombre}}</h1>



<!-- <div class="card">
    <div class="card-header">
        <h3>Switches</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Single Switche</h4>
                <input type="checkbox" class="js-single" checked />
            </div>
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Multiple Switches</h4>
                <input type="checkbox" class="js-switch" checked />
                <input type="checkbox" class="js-switch" checked />
                <input type="checkbox" class="js-switch" checked />
            </div>
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Enable Disable Switches</h4>
                <input type="checkbox" class="js-dynamic-state" checked />
                <button class="btn btn-primary js-dynamic-enable">Enable</button>
                <button class="btn btn-inverse js-dynamic-disable">Disable</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h4 class="sub-title">Color Switches</h4>
                <input type="checkbox" class="js-default" checked />
                <input type="checkbox" class="js-primary" checked />
                <input type="checkbox" class="js-success" checked />
                <input type="checkbox" class="js-info" checked />
                <input type="checkbox" class="js-warning" checked />
                <input type="checkbox" class="js-danger" checked />
                <input type="checkbox" class="js-inverse" checked />
            </div>
            <div class="col-sm-4">
                <h4 class="sub-title">Switch Sizes</h4>
                <input type="checkbox" class="js-large" checked />
                <input type="checkbox" class="js-medium" checked />
                <input type="checkbox" class="js-small" checked />
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>Switches</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Single Switche</h4>
                <input type="checkbox" class="js-single" checked />
            </div>
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Multiple Switches</h4>
                <input type="checkbox" class="js-switch" checked />
                <input type="checkbox" class="js-switch" checked />
                <input type="checkbox" class="js-switch" checked />
            </div>
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Enable Disable Switches</h4>
                <input type="checkbox" class="js-dynamic-state" checked />
                <button class="btn btn-primary js-dynamic-enable">Enable</button>
                <button class="btn btn-inverse js-dynamic-disable">Disable</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h4 class="sub-title">Color Switches</h4>
                <input type="checkbox" class="js-default" checked />
                <input type="checkbox" class="js-primary" checked />
                <input type="checkbox" class="js-success" checked />
                <input type="checkbox" class="js-info" checked />
                <input type="checkbox" class="js-warning" checked />
                <input type="checkbox" class="js-danger" checked />
                <input type="checkbox" class="js-inverse" checked />
            </div>
            <div class="col-sm-4">
                <h4 class="sub-title">Switch Sizes</h4>
                <input type="checkbox" class="js-large" checked />
                <input type="checkbox" class="js-medium" checked />
                <input type="checkbox" class="js-small" checked />
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>Switches</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Single Switche</h4>
                <input type="checkbox" class="js-single" checked />
            </div>
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Multiple Switches</h4>
                <input type="checkbox" class="js-switch" checked />
                <input type="checkbox" class="js-switch" checked />
                <input type="checkbox" class="js-switch" checked />
            </div>
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Enable Disable Switches</h4>
                <input type="checkbox" class="js-dynamic-state" checked />
                <button class="btn btn-primary js-dynamic-enable">Enable</button>
                <button class="btn btn-inverse js-dynamic-disable">Disable</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h4 class="sub-title">Color Switches</h4>
                <input type="checkbox" class="js-default" checked />
                <input type="checkbox" class="js-primary" checked />
                <input type="checkbox" class="js-success" checked />
                <input type="checkbox" class="js-info" checked />
                <input type="checkbox" class="js-warning" checked />
                <input type="checkbox" class="js-danger" checked />
                <input type="checkbox" class="js-inverse" checked />
            </div>
            <div class="col-sm-4">
                <h4 class="sub-title">Switch Sizes</h4>
                <input type="checkbox" class="js-large" checked />
                <input type="checkbox" class="js-medium" checked />
                <input type="checkbox" class="js-small" checked />
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>Switches</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Single Switche</h4>
                <input type="checkbox" class="js-single" checked />
            </div>
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Multiple Switches</h4>
                <input type="checkbox" class="js-switch" checked />
                <input type="checkbox" class="js-switch" checked />
                <input type="checkbox" class="js-switch" checked />
            </div>
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Enable Disable Switches</h4>
                <input type="checkbox" class="js-dynamic-state" checked />
                <button class="btn btn-primary js-dynamic-enable">Enable</button>
                <button class="btn btn-inverse js-dynamic-disable">Disable</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h4 class="sub-title">Color Switches</h4>
                <input type="checkbox" class="js-default" checked />
                <input type="checkbox" class="js-primary" checked />
                <input type="checkbox" class="js-success" checked />
                <input type="checkbox" class="js-info" checked />
                <input type="checkbox" class="js-warning" checked />
                <input type="checkbox" class="js-danger" checked />
                <input type="checkbox" class="js-inverse" checked />
            </div>
            <div class="col-sm-4">
                <h4 class="sub-title">Switch Sizes</h4>
                <input type="checkbox" class="js-large" checked />
                <input type="checkbox" class="js-medium" checked />
                <input type="checkbox" class="js-small" checked />
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>Switches</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Single Switche</h4>
                <input type="checkbox" class="js-single" checked />
            </div>
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Multiple Switches</h4>
                <input type="checkbox" class="js-switch" checked />
                <input type="checkbox" class="js-switch" checked />
                <input type="checkbox" class="js-switch" checked />
            </div>
            <div class="col-sm-12 col-xl-4 mb-30">
                <h4 class="sub-title">Enable Disable Switches</h4>
                <input type="checkbox" class="js-dynamic-state" checked />
                <button class="btn btn-primary js-dynamic-enable">Enable</button>
                <button class="btn btn-inverse js-dynamic-disable">Disable</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h4 class="sub-title">Color Switches</h4>
                <input type="checkbox" class="js-default" checked />
                <input type="checkbox" class="js-primary" checked />
                <input type="checkbox" class="js-success" checked />
                <input type="checkbox" class="js-info" checked />
                <input type="checkbox" class="js-warning" checked />
                <input type="checkbox" class="js-danger" checked />
                <input type="checkbox" class="js-inverse" checked />
            </div>
            <div class="col-sm-4">
                <h4 class="sub-title">Switch Sizes</h4>
                <input type="checkbox" class="js-large" checked />
                <input type="checkbox" class="js-medium" checked />
                <input type="checkbox" class="js-small" checked />
            </div>
        </div>
    </div>
</div> -->

      
</div>
                
           
     
        
        
        