<link rel="stylesheet" href="css/home.css">
<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">
				Ingreso de Incapacidad
			</h3>
		</div>
	</div>
	<!--begin::Form-->
<!-- tomado del Achivo rangos.js-->
	<form class="kt-form kt-form--fit kt-form--label-right" method="POST" id="FormIncapacidad" >
		<div class="modal fade" id="kt_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Recibir Cita</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						</button>
					</div>
					<div class="modal-body">
						
						
							<div class="form-group">
								<label for="message-text" class="form-control-label">Sintoma Principal:</label>
								<textarea class="form-control" name="txtSintomaPrincipal" id="txtSintomaPrincipal"></textarea>
							</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label">Historia de Enfermedad Actual:</label>
								<textarea class="form-control" name="txtEnfermadadActual" id="txtEnfermadadActual"></textarea>
							</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label">Funciones Organicas Generales:</label>
								<textarea class="form-control" name="txtFuncionesOrganicas" id="txtFuncionesOrganicas"></textarea>
							</div>
						
					</div>
					<div class="modal-footer">
						 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> 
						<button type="button" id="BtnRecibirCita" class="btn btn-primary">Si, Recibir</button>
					</div>
				</div>
			</div>
		</div>
	

		<div class="kt-portlet__body">
			<!--begin: Datatable -->
			<table class="table table-striped- table-bordered table-hover table-checkable" id="Tabla_Recibir" >
										<thead>
										  <tr>
														  <th>Id</th>
														  <th>N# Identidad</th>
														  <th>Nombre</th>
														  <th>Apellido</th>
														  <th>Motivo</th>
														  <th>Observacion</th>
														  <th>Fecha Asignada</th>
														  <th>Hora</th>
														  <th>Estado</th>
														  <th>Actions</th>
											  </tr>
											  
							</thead>
				
				
						</table>
			<!--end: Datatable -->
		</div>
	</form>

	<!--end::Form-->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="views/ViewJs/recibir.js"></script>