<link rel="stylesheet" href="css/home.css">
<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">
				{{page_title}}
			</h3>
		</div>
	</div>
	<!--begin::Form-->
<!-- tomado del Achivo rangos.js-->
		<div class="kt-portlet__body">
            <form method="POST" class="kt-form kt-form--fit kt-form--label-right" action="index.php?page=reporteClinica&op=prueba" id="FormularioReportegeneral" >
                <div class="kt-portlet__body form_DatosGenerales" >
                                  
            
                    <div class="tab-content">
                        <div class="form-group row">
                            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Fecha Inicio</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="FechaInicio" id="FechaInicio">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Fecha Fin</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="FechaFin" id="FechaFin">
                            </div>
                        </div>
                      
                        <!--
                        <div class="form-group row">
                            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Motivo de atenci&otilde;n</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
                            </div>
                        </div>
                          	  
                        -->
                            
                           
                            
                            
                           
                       
                        
                    </div>  
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" onclick="location.href='index.php?page=cita'" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>    
                </div>
                
            </form>
            <!--begin: Datatable -->
            {{if mostrar}}
            
                <div class="card-body">
                    
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="excel/reporteClinica.php">Excel</a>
                        </li>
                      
                    </ul>
                </div>
            {{endif mostrar}}
			<table class="table table-striped- table-bordered table-hover table-checkable" id="Tablaincapaci" >
										<thead>
										  <tr>
														  <th>Fecha</th>
														  <th>Nombre</th>
														  <th>Identidad</th>
														  <th>Empleado</th>
                                                          <th>Hora</th>
                                                          <th># de Telefono</th>
                                                          <th>Area/Departamento</th>
                                                          <th>Motivo de visita</th>
                                                          <th>Diagnostico</th>
                                                          <th>Tratamiento</th>
                                                          <th>Incapacidad</th>
                                                          <th>dias</th>
                                                          <th>Observaciones</th>
                                               
														  
										  </tr>
                                            
											  
                            </thead>
                            <tbody>
                            </tr>
                            {{foreach mostrar}}
                            <tr>
                              <td>{{fechacreacion}}</td>
                              <td>{{pnombre}} {{papellido}}</td>
                              <td>{{pidenticacion}}</td>
                              <td>{{pcodigo}}</td>
                              <td>{{tiempo}}</td>
                              <td>{{telefono}}</td>
                              <td>{{pdependencia}}</td>
                              <td>{{motivo}}</td>
                              <td>{{diagnostico}}</td>
                              <td>{{tratamiento}}</td>
                              <td>{{tiepmpoIncapacidad}}</td>
                              <td>{{dias}}</td>
                              <td>{{des_incapacidad}}</td>
                              
                               </tr>
                             
                            {{endfor mostrar}}
                            </tbody>
				
				
						</table>
			<!--end: Datatable -->
		</div>
	

	<!--end::Form-->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="views/ViewJs/generalClinica.js"></script>