<link rel="stylesheet" href="css/home.css">
<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">
				{{page_title}}
			</h3>
		</div>
	</div>
	<!--begin::Form-->
<!-- tomado del Achivo rangos.js-->
	
	

		<div class="kt-portlet__body">

            <form method="POST" class="kt-form kt-form--fit kt-form--label-right" action="index.php?page=reporteConsultas&op=mostrardatos" id="FormularioReportegeneral" >
                <div class="kt-portlet__body form_DatosGenerales" >
                                  
            
                    <div class="tab-content">
                        <div class="form-group row">
                            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">A&ntilde;o</label>
                            <div class="col-sm-9">
                                <select class="form-control col-sm-3"  id="CbxAnios" name="CbxAnios">
                                    {{foreach anios}}
                                    <option value="{{aaa}}">{{aaa}}</option>
                                    {{endfor anios}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" id="container">
                            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Mes</label>
                            <div class="col-sm-9">
                                <div class="form-group">
                                   
                                    <select class="form-control select2 col-sm-6 " name="mes[]" multiple="multiple">
                                        <option value="1">Enero</option>
                                        <option value="2">Febrero</option>
                                        <option value="3">Marzo</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Mayo</option>
                                        <option value="6">junio</option>
                                        <option value="7">JUlio</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="form-group row">
                            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Motivo de atenci&otilde;n</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
                            </div>
                        </div>
                          	  
                        -->
                            
                           
                            
                            
                           
                       
                        
                    </div>  
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" onclick="location.href='index.php?page=cita'" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>    
                </div>
                
            </form>
            <!--begin: Datatable -->
            {{if mostrar}}
            
                
                <div class="card-body">
                    
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="excel/reporteConsulta.php"><h1>Excel</h1></a>
                        </li>
                      
                    </ul>
                </div>
           
            {{endif mostrar}}
			<table class="table table-striped- table-bordered table-hover table-checkable" id="Taba_reporte_Consulta" >
										<thead>
                                            
										  <tr>
                                                <th>Nombre</th>
                                                <th>Identidad</th>
                                                <th>Fecha</th>	 
												<th>Numero de empleado</th>
                                                <th>Hora</th>	
                                                <th>Telefono</th> 
                                                <th>Ocupacion</th>  
                                                <th>Area/Departamento</th>
                                                <th>Tipo de Consulta</th>
                                                <th>Observaciones</th>
										  </tr>
                                                     
                                         
                                            
											  
                            </thead>
                            <tbody>
                            </tr>
                            {{foreach mostrar}}
                            <tr>
                              <td>{{pnombre}} {{papellido}}</td>
                              <td>{{pidenticacion}}</td>
                              <td>{{fechacreacion}}</td>
                              <td>{{pcodigo}}</td>
                              <td>{{tiempo}}</td>
                              <td>{{telefono}}</td>
                              <td>{{pocupacion}}</td>
                              <td>{{pdependencia}}</td>
                              <td>{{cnombre}}</td>
                              <td>{{descr}}</td>
                               </tr>
                            {{endfor mostrar}}
                            </tbody>
				
				
						</table>
			<!--end: Datatable -->
		</div>
	

	<!--end::Form-->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="views/ViewJs/ReporteConsulta.js"></script>